* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --bg-color: white;
  --text-color: black;
}

a {
  text-decoration: none;
}

body.dark {
  --bg-color: black;
  --text-color: white;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: gray solid 4px;
}

h1 {
  margin-top: 5px;
  font-size: 28px;
}

h6 {
  color: #d1d1d1;
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: 400;
}

p {
  margin-top: 15px;
  margin-bottom: 5px;
}

.username_games {
  font-weight: 400;
  font-size: 19px;
  color: #1AA1F7;
}

.username {
  font-weight: 400;
  font-size: 19px;
  color: white;
  opacity: 0.8;
}

ul {
  list-style: none;
}

ul li a.games {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #1AA1F7 solid 2px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 16px;
  border-radius: 6px;

  transition: background 400ms;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgb(128, 128, 128) solid 2px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 16px;
  border-radius: 6px;

  transition: background 400ms;
}

ul li a:hover {
  background: gray;
}

footer {
  margin-top: 30px;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;

  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}

footer a {
  color: var(--text-color);
}

.twitch-icon {
  color: #6441a5;
  font-size: 20px;
  margin-right: 8px;
}

.youtube-icon {
  color: #FF0000;
  font-size: 20px;
  margin-right: 8px;
}

#ver-vantagens {
  color: #1AA1F7;
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 15px;
}

#vantagens ul {
  list-style: none;
  padding: 0;
  color: white;
}

#vantagens li {
  font-size: 14px;
}

#vantagens p {
  font-size: 14px;
  margin-bottom: 15px;
}

h6:nth-of-type(3) {
  margin-top: 40px; /* Adiciona o espaço acima */
}